# Virtual environment
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
